*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


html, body {
  height: 100%;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --primary-color: #4F46E5;
  --text-color: #141414;
  --bg-color: #8a8a8a;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.top-container {
    display: flex;
    justify-content: space-between;
}
